.soon-films {
    padding: 50px 0;

    .wrapper-films {
        h1 {
            margin: 30px 0;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
    }
}

.card {
    width: 30%;
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: relative;
    margin: 20px auto;
    .soon-poster{
        position: absolute;
        top: -10px;
        right: -10px;
        width: 150px;
        z-index: 333;
    }
    .card-img {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        width: 100%;
        padding: 15px;
        transition: all 0.2s ease-in-out;

        img {
            width: 100%;
            transition: all 0.2s ease-in-out;
            border-radius: 6px;
        }
    }

    .card-text {
        padding-top: 150%;

        .category {
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            padding: 5px;
            margin-bottom: 45px;
            position: relative;
            transition: all 0.2s ease-in-out;

            &>* {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -5%);
            }

            &>span {
                padding: 12px 30px;
                border: 1px solid #313131;
                background: #212121;
                color: #fff;
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
                border-radius: 27px;
                transition: all 0.05s ease-in-out;
            }
        }

        .title-film {
            text-align: center;

            h3 {
                font-size: 20px;
                font-weight: bold;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
            }
        }

        .description-film {
            text-align: center;
            width: 100%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            p {
                margin: 0;
            }
        }

        .card-footer {
            padding: 25px 0 5px;
            border-top: 1px solid #ddd;

            .card-left {
                float: left;

                .price {
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .card-right {
                float: right;
            }

            &:after,
            &:before {
                content: '';
                display: table;
            }

            &:after {
                clear: both;
            }
        }
    }

    &:hover .card-img {
        top: -5px;
    }

    &:hover .card-img img {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    &:hover .card-text .category>span {
        border-color: #ddd;
        box-shadow: none;
        padding: 11px 28px;
    }

    &:hover .card-text .category {
        margin-top: 0px;
    }
}


@media screen and (max-width: 991px) {
    .card {
        margin: 40px auto;

        .card-img {
            top: -40px;

            img {
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            }
        }

        .card-text .category {
            margin-top: 0px;

            &>span {
                border-color: #ddd;
                box-shadow: none;
                padding: 11px 28px;
            }
        }
    }
}