.info_advertising_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;

    p {
        text-align: center;
        font-weight: 600;
    }

    .neon_red {
        padding: 10px;
        border-radius: 20px;
        border: 0.15em solid hsl(0, 97%, 62%);
        box-shadow: inset 0px 0px 0.5em 0px hsl(0, 97%, 62%), 0px 0px 0.5em 0px hsl(0, 97%, 62%);

        img {
            width: 700px;
            border-radius: 20px;
        }
    }
}