.main_container {
    padding: 100px 0;

    .wrapper_booking {
        width: 100%;
        padding: 50px;

        border: 1px solid hsl(0, 97%, 62%);
        box-shadow: inset 0px 0px 0.5em 0px hsl(0, 97%, 62%), 0px 0px 0.5em 0px hsl(0, 97%, 62%);
        border-radius: 20px;

        display: flex;
        flex-direction: row;
        gap: 30px;

        .booking_section {
            width: 40%;
            padding: 20px;
            border: 1px solid hsl(0, 97%, 62%);
            box-shadow: inset 0px 0px 0.5em 0px hsl(0, 97%, 62%), 0px 0px 0.5em 0px hsl(0, 97%, 62%);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
        }
    }
}