.info_sections {
    margin: 0 0 48px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: #3b3b3b;
    padding: 12px;
    border-radius: 4px;
    color: #7e7e7e;

    .seat {
        display: inline-block;
        background: #626262;
        width: 30px;
        height: 25px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transition: transform 0.3s ease-in-out;

        position: relative;
        top: 1px;
    }

    .selected {
        background: #7bc47f !important;
    }

    .occupied {
        background: hsl(0, 97%, 62%) !important;
    }
}