.features_imax {
    .wrapper_imax {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;

        .line,
        h1 {
            text-align: center;
            position: relative;
        }

        span {
            color: gray;
        }

        p {
            position: relative;
            z-index: 2;
            margin-bottom: 15px;
        }

        .information-brief {

            display: flex;
            flex-direction: row;
            gap: 20px;

            .img-imax {
                width: 50%;
                height: 100%;
                border-radius: 20px;
            }
        }
    }
}