.home-campaigns {
    padding: 50px 0;

    .campaigns-section {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;

            .card {
                width: 25%;
                background: #fff;
                padding: 15px;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                position: relative;
                margin: 20px auto;

                .card-img {
                    border-radius: 15px;
                    width: 100%;
                    padding: 15px;
                    transition: all 0.2s ease-in-out;

                    img {
                        border-radius: 15px;
                        width: 100%;
                        height: 200px;
                        transition: all 0.2s ease-in-out;
                        border-radius: 6px;
                        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
                    }
                }
            }
        }

        hr {
            width: 100%;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .home-campaigns {
        .campaigns-section {
            .cards {
                gap: 20px;

                .card {
                    width: 30%;
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 1030px and up) */
@media only screen and (max-width: 1030px) {
    .home-campaigns {
        .campaigns-section {
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
    }
}

/* Large devices (laptops/desktops, 855px and up) */
@media only screen and (max-width: 855px) {
    .home-campaigns {

        .campaigns-section {
            .cards {
                flex-wrap: wrap;

                .card {
                    width: 30%;
                    padding: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 770px) {
    .home-campaigns {

        .campaigns-section {
            .cards {
                .card {
                    width: 45%;
                }
            }
        }
    }
}

@media only screen and (max-width: 470px) {
    .home-campaigns {
        .campaigns-section {
            h1{
                text-align: center;
            }
            .cards {
                .card {
                    width: 60%;
                }
            }
        }
    }
}