.mySwiper2 {
    height: 80%;
    width: 100%;

    .swiper-slide {
        img {
            width: 100% !important;
            height: 100%;
            border-radius: 20px;

        }
    }
}

.mySwiper3 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;

    .swiper-slide {
        width: 20% !important;
        height: 100%;
        opacity: 0.4;

        img {
            border-radius: 20px;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-slide-thumb-active {
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {
    .mySwiper2 {
        height: 50%;
        width: 100%;

    }

    .mySwiper3 {
        height: 20%;

        .swiper-slide {
            width: 30% !important;
            height: 55%;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mySwiper2 {
        height: 35%;
        width: 100%;

    }
}