.seats_wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;
    height: 100%;

    border: 1px solid hsl(0, 97%, 62%);
    box-shadow: inset 0px 0px 0.5em 0px hsl(0, 97%, 62%), 0px 0px 0.5em 0px hsl(0, 97%, 62%);
    border-radius: 20px;

    .container_screen {
        width: 500px;
        perspective: 1000px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .screen {
            background-color: #fff;
            height: 140px;
            width: 100%;
            margin: 15px 0;
            transform: rotateX(-30deg);
            box-shadow: 0 13px 29px rgb(255 255 255 / 100%);
        }

        .seats {
            display: grid;
            grid-gap: 6px;
            grid-template-columns: repeat(10, min-content);
            align-items: center;
        }
    }
}