:root {
    --glow-color: hsl(0, 97%, 62%);
}

.hero-schedule {
    padding: 200px 0;

    .container {
        .wrapper-schedule {
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            border-radius: 20px;
            border: 0.15em solid var(--glow-color);
            box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);

            .main_part {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 30px;
            }

            .filter_part {
                margin-top: 80px;
                padding: 20px;
                border-radius: 20px;
                border: 0.15em solid var(--glow-color);
                box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
            }

            .movies {
                border-radius: 20px;
                border: 0.15em solid var(--glow-color);
                box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
            }
        }
    }
}