.top-to-btm {
    position: relative;

    .icon-position {
        position: fixed;
        bottom: 40px;
        right: 25px;
        z-index: 20;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .icon-style {
        background-color: transparent;
        background-color: rgba(74, 74, 74, .5);
        opacity: .4;
        // border: 2px solid red;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        color: red;
        cursor: pointer;
        animation: movebtn 3s ease-in-out infinite;
        transition: all .5s ease-in-out;

        &:hover {
            animation: none;
            color: red;
            border: 2px solid red;
        }
    }
}

@keyframes movebtn {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(3px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}