.vip_hero_section {
    height: 590px;
    background-image: url("../../../../assets/images/VIP/vip-bcg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}