.hall_vip {
    .wrapper_hall {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;

        .line,
        h1 {
            text-align: center;
            position: relative;
        }

        span {
            color: gray;
        }

        p {
            position: relative;
            z-index: 2;
            margin-bottom: 15px;
        }

        .information-brief {
            margin-top: 30px;
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
        }

        .slider-hall-wrapper {
            width: 50%;
        }
    }
}