.buy_ticket_section {

    .buy_ticket_section_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 90px;

        .info_of_ticket {
            display: flex;
            flex-direction: column;
            gap: 20px;

            

            p {
                width: 90%;
            }
        }
    }
}