body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: context-menu;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 50px;
  text-transform: capitalize;
}

h2 {
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  color: black;
}

.line {
  background-color: red;
  height: 5px;
}

.theme-button {
  cursor: pointer;
  font-size: 30px;
  color: white !important;
}

.dark {
  background-color: #121212;
  color: #fff;

  a {
    color: white;
  }

  .wrapper-accordion {
    color: black;
  }
}

.light {
  background-color: #fff;
  color: black;

  a {
    color: black;
  }
}

//select text
::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: red;
}

::selection {
  color: white;
  background: red;
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1000px) {
  .container {
    width: 880px;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    width: 780px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    width:580px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}